h2{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
    
hr{
    color: red;
}
label{
    font-size: 18px;
    padding-top: 10px;

}