.container {
    width: 60%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    color: red;
}

label {
    font-size: 18px;
    padding-top: 10px;

}

