
<div>
  <mat-toolbar>
    <span class="ms-2 beinex">Beinex</span>
    <span class="example-spacer"></span>
    <button
    routerLink=""
      mat-icon-button
      class="example-icon about-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
    routerLink=""
    mat-icon-button
    class="example-icon about-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>message</mat-icon>
  </button>
  </mat-toolbar>
</div>
